<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="GithubMantisLords" value="https://nuget.pkg.github.com/MantisLords/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GithubMantisLords>
            <add key="Username" value="MantisLords" />
            <add key="ClearTextPassword" value="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" />
        </GithubMantisLords>
    </packageSourceCredentials>
</configuration>